body {

    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0 20px;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: blueviolet;
    color: white;
    padding: 20px;
}
nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0, 15px;
    color: black;
    text-decoration: none;
}
.contenedor{
    display: flex;
    
}
main{
    flex: 1;

}
aside {
    width: 300px;
    background: white;
    padding: 15px;
    margin: 20px;
}
footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}
